QMainWindow
{
	background-color: rgb(23, 23, 23);
	color: white;
}

QLabel
{
    background-color: transparent;
    color: white;
}

QLabel[cssClass="mainwindowLabel"]
{
    background-color: transparent;
    color: white;
}

QPushButton
{
	background-color: rgb(23, 23, 23);
	border: 1px solid rgb(71, 126, 158);
	color: white;
}

QPushButton:disabled
{
	color: rgb(63, 63, 63);
}

QPushButton:hover
{
	background-color: rgb(43, 43, 43);
}

QPlainTextEdit[cssClass="userInput"]
{
    background-color: rgb(23, 23, 23);
    color: white;
    border: 1px solid rgb(71, 126, 158);
}

QPlainTextEdit[cssClass="chatOutput"]
{
    background-color: rgb(23, 23, 23);
    color: white;
    border: 1px solid rgb(71, 126, 158);
}

QLineEdit
{
    background-color: rgb(23, 23, 23);
    color: white;
    border: 1px solid rgb(71, 126, 158);
}

QListWidget
{
	background-color: rgb(23, 23, 23);
    color: white;
    border: 1px solid rgb(71, 126, 158);
}

QListWidget::item:hover
{
	background-color: rgb(53, 53, 53);
}

QListWidget::item:selected
{
	background-color: rgb(71, 126, 158);
}

QScrollBar
{
    background-color: rgb(23, 23, 23);
}

QComboBox
{
	background-color: rgb(19, 18, 18);
	border: 1px solid rgb(71, 126, 158);
	color: white;
}

QComboBox QAbstractItemView
{
	background-color: rgb(23, 23, 23);
	color: white;
	selection-background-color: rgb(71, 126, 158);
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------- */
/*                   QMessageBox                             */
/* --------------------------------------------------------- */
/*                      Begin                                */
/* --------------------------------------------------------- */

QMessageBox
{
    background-color: rgb(23, 23, 23);
    color: white;
}

QMessageBox > QLabel
{
    background-color: transparent;
    color: white;
}

QMessageBox QPushButton
{
	background-color: rgb(23, 23, 23);
	border: 1px solid rgb(71, 126, 158);
	color: white;
	min-width: 60px;
    min-height: 20px;
}

QMessageBox QPushButton:disabled
{
	color: rgb(63, 63, 63);
}

QMessageBox QPushButton:hover
{
	background-color: rgb(43, 43, 43);
}

/* --------------------------------------------------------- */
/*                    QMessageBox                            */
/* --------------------------------------------------------- */
/*                        End                                */
/* --------------------------------------------------------- */


/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------- */
/*                       QMenu                               */
/* --------------------------------------------------------- */
/*                       Begin                               */
/* --------------------------------------------------------- */


QMenuBar
{
	background-color: transparent;
	color: white;
}

QMenuBar::item
{
	background-color: transparent;
}

QMenuBar::item::selected
{
	background-color: rgb(71, 126, 158);
}

QMenu
{
	background-color: rgb(23, 23, 23);
	color: white;
}

QMenu::item::selected
{
	background-color: rgb(71, 126, 158);
}

QMenu::separator
{
	background-color: rgb(31, 51, 63);
	height: 2px;
    margin-left: 10px; 
    margin-right: 5px;
}


/* --------------------------------------------------------- */
/*                        QMenu                              */
/* --------------------------------------------------------- */
/*                        End                                */
/* --------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */



/* --------------------------------------------------------- */
/*                       QSlider                             */
/* --------------------------------------------------------- */
/*                       Begin                               */
/* --------------------------------------------------------- */

QSlider::handle
{
	background-color: black;
	border: 1px solid rgb(71, 126, 158);
}

QSlider::add-page 
{
    background: gray;
}

QSlider::sub-page
 {
    background: rgb(71, 126, 158);
}

QSlider::handle:disabled
{
	background-color: rgb(59, 59, 59);
	border: 1px solid gray;
}

QSlider::add-page:disabled 
{
    background: gray;
}

QSlider::sub-page:disabled
{
    background: gray;
}


/* --------------------------------------------------------- */
/*                        QSlider                            */
/* --------------------------------------------------------- */
/*                        End                                */
/* --------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */



/* --------------------------------------------------------- */
/*                     Help - About                          */
/* --------------------------------------------------------- */
/*                      Begin                                */
/* --------------------------------------------------------- */


QPushButton[cssClass="github"]
{
    border: none;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-image: url(":/icons/GitHub-Mark-Light.png");
}

QPushButton[cssClass="github"]:hover
{
    border-image: url(":/icons/GitHub-Mark-Light-Hover.png");
}

QPushButton[cssClass="github"]:pressed
{
    border-image: url(":/icons/GitHub-Mark-Light.png");
}

QLabel[cssClass="appIcon"]
{
	background-color: transparent;
}


/* --------------------------------------------------------- */
/*                     Help - About                          */
/* --------------------------------------------------------- */
/*                        End                                */
/* --------------------------------------------------------- */